<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Paquete</h2>
    <div class="row">
      <p-select *ngIf="!idResidenciaSelect" (onChange)="getResidencia()" [(ngModel)]="idResidenciaSelect"
        [options]="dropdownItemsRes" optionValue="code" optionLabel="name" placeholder="Seleccionar Residencia"
        [autoDisplayFirst]="false" appendTo="body">
      </p-select>
    </div>
    <div class="row" *ngIf="idResidenciaSelect">
      <p-button (onClick)="open()" class="font-bold w-max">
        Crear nuevo paquete
      </p-button> |
      <p-button class="font-bold w-max" (onClick)="deleteResidencia()">
        Volver
      </p-button>
    </div>
    <br>
    <div class="row" *ngIf="idResidenciaSelect">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Paquete</th>
            <th>Fecha</th>
            <th>Departamento</th>
            <th>Estado</th>
            <th>Codigo</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (paquete of this.paquetes; track paquete.id) {
            <tr>
              <td>{{paquete.id}}</td>
              <td>{{paquete.fecha}}</td>
              <td>{{paquete.idDepartamento.codigo}}</td>
              <td>{{paquete.idEstadoPaquete.estado}}</td>
              <td>{{paquete.codigo}}</td>
              <td><p-button (click)="view(paquete.id)">Ver</p-button></td>
              <td><p-button (click)="edit(paquete.id)">Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="6">No se encuentran paquetes</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Añadir Paquete" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }"
  [modal]="true" (onHide)="close()">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Remitente</label>
          <input type="text" pInputText formControlName="remitente" [placeholder]="'Ingrese nombre de Residencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Descripcion</label>
          <input type="text" pInputText formControlName="descripcion" [placeholder]="'Ingrese nombre de Direccion'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha</label>
          <p-datepicker [showIcon]="true" [showButtonBar]="true" formControlName="fechaInput" [dateFormat]="'dd/mm/yy'" placeholder="dd/mm/aaaa"></p-datepicker>
          <input type="text" pInputText formControlName="fecha" hidden/>
        </div>
        <div class="flex flex-col gap-2">
          <label>Hora</label>
          <p-calendar formControlName="horaInput" [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" hourFormat="12"
            inputId="templatedisplay">
            <ng-template #inputicon let-clickCallBack="clickCallBack">
              <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
            </ng-template>
          </p-calendar>
          <input type="text" pInputText formControlName="hora" hidden/>
        </div>
        <div class="flex flex-col gap-2">
          <label>Codigo</label>
          <input type="text" pInputText formControlName="codigo" [placeholder]="'Ingrese Cantidad de Edificios'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Departamento</label>

          <p-select formControlName="idDepartamento" [options]="dropdownItemsDep" optionValue="code" optionLabel="name"
            placeholder="Seleccionar Tipo" [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
        <div class="flex flex-col gap-2">
          <label>Estado Paquete</label>

          <p-select formControlName="idEstadoPaquete" [options]="dropdownItemsEstPaq" optionValue="code"
            optionLabel="name" placeholder="Seleccionar Tipo" [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>