<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Paquete</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nuevo paquete
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Paquete</th>
            <th>Fecha</th>
            <th>Departamento</th>
            <th>Estado</th>
            <th>Codigo</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (paquete of this.paquetes; track paquete.id) {
            <tr>
              <td>{{paquete.id}}</td>
              <td>{{paquete.fecha}}</td>
              <td>{{paquete.idDepartamento.codigo}}</td>
              <td>{{paquete.idEstadoPaquete.estado}}</td>
              <td>{{paquete.codigo}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="6">No se encuentran paquetes</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Añadir Paquete" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }"
  [modal]="true">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Remitente</label>
          <input type="text" pInputText formControlName="remitente" [placeholder]="'Ingrese nombre de Residencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Descripcion</label>
          <input type="text" pInputText formControlName="descripcion" [placeholder]="'Ingrese nombre de Direccion'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha</label>
          <input type="text" pInputText formControlName="fecha"
            [placeholder]="'Ingrese Cantidad de Departamentos'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Hora</label>
          <input type="text" pInputText formControlName="hora" [placeholder]="'Ingrese Cantidad de Edificios'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Codigo</label>
          <input type="text" pInputText formControlName="codigo" [placeholder]="'Ingrese Cantidad de Edificios'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Departamento</label>

          <p-select formControlName="idDepartamento" [options]="dropdownItemsDep" optionValue="code" optionLabel="name"
            placeholder="Seleccionar Tipo" [autoDisplayFirst]="false">
          </p-select>
        </div>
        <div class="flex flex-col gap-2">
          <label>Estado Paquete</label>

          <p-select formControlName="idEstadoPaquete" [options]="dropdownItemsEstPaq" optionValue="code" optionLabel="name"
            placeholder="Seleccionar Tipo" [autoDisplayFirst]="false">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>

<ng-template #modalTemplate>
  <h2 mat-dialog-title>Añadir Paquete</h2>
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div>
        <label>Remitente</label>
        <ng-container>
          <input type="text" formControlName="remitente" class="form-control" />
        </ng-container>

        <label>Descripcion</label>
        <ng-container>
          <input type="text" formControlName="descripcion" class="form-control" />
        </ng-container>

        <label>Fecha</label>
        <ng-container>
          <input type="date" formControlName="fecha" class="form-control" />
        </ng-container>

        <label>Hora</label>
        <ng-container>
          <input type="text" formControlName="hora" class="form-control" />
        </ng-container>

        <label>Codigo</label>
        <ng-container>
          <input type="text" formControlName="codigo" class="form-control" />
        </ng-container>


        <label>Departamento</label>
        <ng-container>
          <select formControlName="idDepartamento" class="form-control">
            <option *ngFor="let tablaItem of departamentos" [value]="tablaItem.id">
              {{ tablaItem.codigo }}
            </option>
          </select>
        </ng-container>

        <label>Estado Paquete</label>
        <ng-container>
          <select formControlName="idEstadoPaquete" class="form-control">
            <option *ngFor="let tablaItem of estadosPaquete" [value]="tablaItem.id">
              {{ tablaItem.estado }}
            </option>
          </select>
        </ng-container>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>