<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Mantenimiento</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nuevo mantenimiento
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Mantenimiento</th>
            <th>Descripcion</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (mantenimiento of this.mantenimientos; track mantenimiento.id) {
            <tr>
              <td>{{mantenimiento.id}}</td>
              <td>{{mantenimiento.descripcion}}</td>
              <td>{{mantenimiento.fechaIni}}</td>
              <td>{{mantenimiento.fechaFin}}</td>
              <td>{{mantenimiento.idEstadoMantenimiento.estado}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="6">No se encuentran mantenimientos</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <h2 mat-dialog-title>Añadir Mantenimiento</h2>
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div>
        <label>Descripcion</label>
        <ng-container>
          <input type="text" formControlName="descripcion" class="form-control" />
        </ng-container>

        <label>Fecha Inicio</label>
        <ng-container>
          <input type="date" formControlName="fechaIni" class="form-control" />
        </ng-container>


        <label>Fecha Finalizacion</label>
        <ng-container>
          <input type="date" formControlName="fechaFin" class="form-control" />
        </ng-container>


        <label>Departamento</label>
        <ng-container>
          <select formControlName="idDepartamento" class="form-control">
            <option *ngFor="let tablaItem of departamentos" [value]="tablaItem.id">
              {{ tablaItem.codigo }}
            </option>
          </select>
        </ng-container>

        <label>Estado Mantenimiento</label>
        <ng-container>
          <select formControlName="idEstadoMantenimiento" class="form-control">
            <option *ngFor="let tablaItem of estadosMantenimiento" [value]="tablaItem.id">
              {{ tablaItem.estado }}
            </option>
          </select>
        </ng-container>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>