<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Mantenimiento</h2>
    <div class="row">
      <p-button (onClick)="open()" class="font-bold w-max">
        Crear nuevo mantenimiento
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Mantenimiento</th>
            <th>Descripcion</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (mantenimiento of this.mantenimientos; track mantenimiento.id) {
            <tr>
              <td>{{mantenimiento.id}}</td>
              <td>{{mantenimiento.descripcion}}</td>
              <td>{{mantenimiento.fechaIni}}</td>
              <td>{{mantenimiento.fechaFin}}</td>
              <td>{{mantenimiento.idEstadoMantenimiento.estado}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="6">No se encuentran mantenimientos</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Añadir Mantenimiento" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }" [modal]="true">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Descripcion</label>
          <input type="text" pInputText formControlName="descripcion" [placeholder]="'Ingrese nombre de Residencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha Inicio</label>
          <input type="text" pInputText formControlName="fechaIni" [placeholder]="'Ingrese nombre de Direccion'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha Finalizacion</label>
          <input type="text" pInputText formControlName="fechaFin" [placeholder]="'Ingrese Cantidad de Departamentos'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Departamento</label>

          <p-select 
            formControlName="idDepartamento" 
            [options]="dropdownItemsDep" 
            optionValue="code"  
            optionLabel="name" 
            placeholder="Seleccionar Tipo"
            [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
        <div class="flex flex-col gap-2">
          <label>Estado Mantenimiento</label>

          <p-select 
            formControlName="idEstadoMantenimiento" 
            [options]="dropdownItemsEstMant" 
            optionValue="code"  
            optionLabel="name" 
            placeholder="Seleccionar Tipo"
            [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>