<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Mantenimiento</h2>
    <div class="row">
      <p-select *ngIf="!idResidenciaSelect" (onChange)="getResidencia()" [(ngModel)]="idResidenciaSelect"
        [options]="dropdownItemsRes" optionValue="code" optionLabel="name" placeholder="Seleccionar Residencia"
        [autoDisplayFirst]="false" appendTo="body">
      </p-select>
    </div>

    <div class="row" *ngIf="idResidenciaSelect">
      <p-button (onClick)="open()" class="font-bold w-max">
        Crear nuevo mantenimiento
      </p-button> |
      <p-button class="font-bold w-max" (onClick)="deleteResidencia()">
        Volver
      </p-button>
    </div>
    <br>
    <div class="row" *ngIf="idResidenciaSelect">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Mantenimiento</th>
            <th>Descripcion</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (mantenimiento of this.mantenimientos; track mantenimiento.id) {
            <tr>
              <td>{{mantenimiento.id}}</td>
              <td>{{mantenimiento.descripcion}}</td>
              <td>{{mantenimiento.fechaIni}}</td>
              <td>{{mantenimiento.fechaFin}}</td>
              <td>{{mantenimiento.idEstadoMantenimiento.estado}}</td>
              <td><p-button (click)="view(mantenimiento.id)">Ver</p-button></td>
              <td><p-button (click)="edit(mantenimiento.id)">Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="6">No se encuentran mantenimientos</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Añadir Mantenimiento" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }" [modal]="true" (onHide)="close()">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Descripcion</label>
          <input type="text" pInputText formControlName="descripcion" [placeholder]="'Ingrese nombre de Residencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha Inicio</label>
          <p-datepicker [showIcon]="true" [showButtonBar]="true" formControlName="fechaIniInput" [dateFormat]="'dd/mm/yyyy'" placeholder="dd/mm/aaaa"></p-datepicker>
          <input type="text" pInputText formControlName="fechaIni"/>
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha Finalizacion</label>
          <p-datepicker [showIcon]="true" [showButtonBar]="true" formControlName="fechaFinInput" [dateFormat]="'dd/mm/yyyy'" placeholder="dd/mm/aaaa"></p-datepicker>
          <input type="text" pInputText formControlName="fechaFin"/>
        </div>
        <div class="flex flex-col gap-2">
          <label>Departamento</label>

          <p-select formControlName="idDepartamento" [options]="dropdownItemsDep" optionValue="code" optionLabel="name"
            placeholder="Seleccionar Tipo" [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
        <div class="flex flex-col gap-2">
          <label>Estado Mantenimiento</label>

          <p-select formControlName="idEstadoMantenimiento" [options]="dropdownItemsEstMant" optionValue="code"
            optionLabel="name" placeholder="Seleccionar Tipo" [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>