<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Visita</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nueva Visita
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
        <br>
<div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Comentario</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            <tr>
              <td>Fernando Visurraga</td>
              <td>404</td>
              <td>06/06/2025</td>
              <td>18:30</td>
              <td>Padre del Residente</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
          </tbody>
        </table>
      </div>
</div>