<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Recibo</h2>
    <div class="row">
      <p-button routerLink="recibo-form/new" class="font-bold w-max">
        Crear nuevo recibo
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
        <br>
<div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Recibo</th>
            <th>Mes</th>
            <th>Año</th>
            <th>Total</th>
            <th>Departamento</th>
            <th>Estado</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            <tr>
              <td>245</td>
              <td>Febrero</td>
              <td>2025</td>
              <td>S/. 544.50</td>
              <td>404</td>
              <td>Pagado</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>