<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Pago</h2>
    <div class="row">
      <p-button (onClick)="open()" class="font-bold w-max">
        Crear nuevo pago
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Recibo</th>
            <th>Monto Pagado</th>
            <th>Balance</th>
            <th>Mora</th>
            <th>Fecha</th>
            <th>Comentario</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (pago of this.pagos; track pago.id) {
            <tr>
              <td>{{pago.idRecibo.id}}</td>
              <td>{{pago.paidAmount}}</td>
              <td>{{pago.balance}}</td>
              <td>{{pago.mora}}</td>
              <td>{{pago.fecha}}</td>
              <td>{{pago.comments}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="7">No se encuentran pagos</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Añadir Pago" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }"
  [modal]="true">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Monto Pagado</label>
          <input type="text" pInputText formControlName="paidAmount" [placeholder]="'Ingrese nombre de Residencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Balance</label>
          <input type="text" pInputText formControlName="balance" [placeholder]="'Ingrese nombre de Direccion'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Mora</label>
          <input type="text" pInputText formControlName="mora" [placeholder]="'Ingrese Cantidad de Departamentos'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha</label>
          <input type="text" pInputText formControlName="fecha" [placeholder]="'Ingrese Cantidad de Edificios'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Comentario</label>
          <input type="text" pInputText formControlName="comments" [placeholder]="'Ingrese Cantidad de Edificios'" />
        </div>

        <div class="flex flex-col gap-2">
          <label>Recibos</label>

          <p-select formControlName="idRecibo" [options]="dropdownItemsRec" optionValue="code" optionLabel="name"
            placeholder="Seleccionar Tipo" [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>