<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Residente</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nuevo residente
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>Nombre y Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Departamento</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (residente of this.residentes; track residente.id) {
            <tr>
              <td>{{residente.nombre + ' ' + residente.apellido}}</td>
              <td>{{residente.telefono}}</td>
              <td>{{residente.correo}}</td>
              <td>{{residente.idDepartamento.codigo}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
              <tr>
                <td>No se encuentran residentes</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>