<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Residente</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nuevo residente
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>Nombre y Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Departamento</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (residente of this.residentes; track residente.id) {
            <tr>
              <td>{{residente.nombre + ' ' + residente.apellido}}</td>
              <td>{{residente.telefono}}</td>
              <td>{{residente.correo}}</td>
              <td>{{residente.idDepartamento.codigo}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No se encuentran residentes</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Añadir Departamento" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }" [modal]="true">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Nombre</label>
          <input type="text" pInputText formControlName="nombre" [placeholder]="'Ingrese nombre de Residencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Apellido</label>
          <input type="text" pInputText formControlName="apellido" [placeholder]="'Ingrese nombre de Direccion'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Telefono</label>
          <input type="text" pInputText formControlName="telefono" [placeholder]="'Ingrese Cantidad de Departamentos'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Correo</label>
          <input type="text" pInputText formControlName="correo" [placeholder]="'Ingrese Cantidad de Edificios'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Departamento</label>
          <p-select 
            formControlName="idDepartamento" 
            [options]="dropdownItemsDep" 
            optionValue="code"  
            optionLabel="name" 
            placeholder="Seleccionar Departamento"
            [autoDisplayFirst]="false">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>

<ng-template #modalTemplate>
  <h2 mat-dialog-title>Añadir Departamento</h2>
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div>
        <label>Nombre</label>
        <ng-container>
          <input type="text" formControlName="nombre" class="form-control" />
        </ng-container>

        <label>Apellido</label>
        <ng-container>
          <input type="text" formControlName="apellido" class="form-control" />
        </ng-container>

        <label>Telefono</label>
        <ng-container>
          <input type="text" formControlName="telefono" class="form-control" />
        </ng-container>

        <label>Correo</label>
        <ng-container>
          <input type="text" formControlName="correo" class="form-control" />
        </ng-container>

        <label>Departamento</label>
        <ng-container>
          <select formControlName="idDepartamento" class="form-control">
            <option *ngFor="let tablaItem of departamentos" [value]="tablaItem.id">
              {{ tablaItem.codigo }}
            </option>
          </select>
        </ng-container>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>