<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Residente</h2>
    <div class="row">
      <p-select *ngIf="!idResidenciaSelect" (onChange)="getResidencia()" [(ngModel)]="idResidenciaSelect"
        [options]="dropdownItemsRes" optionValue="code" optionLabel="name" placeholder="Seleccionar Residencia"
        [autoDisplayFirst]="false" appendTo="body">
      </p-select>
    </div>
    <div class="row" *ngIf="idResidenciaSelect">
      <p-button (onClick)="open()" class="font-bold w-max">
        Crear nuevo residente
      </p-button> |
      <p-button class="font-bold w-max" (onClick)="deleteResidencia()">
        Volver
      </p-button>
    </div>
    <br>
    <div class="row" *ngIf="idResidenciaSelect">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>Nombre y Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Departamento</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (residente of this.residentes; track residente.id) {
            <tr>
              <td>{{residente.nombre + ' ' + residente.apellido}}</td>
              <td>{{residente.telefono}}</td>
              <td>{{residente.correo}}</td>
              <td>{{residente.idDepartamento.codigo}}</td>
              <td><p-button (click)="view(residente.id)">Ver</p-button></td>
              <td><p-button (click)="edit(residente.id)">Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No se encuentran residentes</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Añadir Departamento" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }" [modal]="true" (onHide)="close()">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Nombre</label>
          <input type="text" pInputText formControlName="nombre" [placeholder]="'Ingrese Nombre'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Apellido</label>
          <input type="text" pInputText formControlName="apellido" [placeholder]="'Ingrese Apellido'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Teléfono</label>
          <input type="text" pInputText formControlName="telefono"
            [placeholder]="'Ingrese número de teléfono'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Correo</label>
          <input type="text" pInputText formControlName="correo" [placeholder]="'Ingrese Correo'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Departamento</label>
          <p-select formControlName="idDepartamento" [options]="dropdownItemsDep" optionValue="code" optionLabel="name"
            placeholder="Seleccionar Departamento" [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>