<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Incidencia</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nueva incidencia
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
        <br>
<div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Incidencia</th>
            <th>Detalle</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (incidencia of this.incidencias; track incidencia.id) {
            <tr>
              <td>{{incidencia.id}}</td>
              <td>{{incidencia.detalle}}</td>
              <td>{{incidencia.fecha}}</td>
              <td>{{incidencia.hora}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
              <tr>
                <td>No se encuentran incidencias</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>