<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Incidencia</h2>
    <div class="row">
      <p-select *ngIf="!idResidenciaSelect" (onChange)="getResidencia()" [(ngModel)]="idResidenciaSelect"
        [options]="dropdownItemsRes" optionValue="code" optionLabel="name" placeholder="Seleccionar Residencia"
        [autoDisplayFirst]="false" appendTo="body">
      </p-select>
    </div>
    <div class="row" *ngIf="idResidenciaSelect">
      <p-button (onClick)="open()" class="font-bold w-max">
        Crear nueva incidencia
      </p-button> |
      <p-button class="font-bold w-max" (onClick)="deleteResidencia()">
        Volver
      </p-button>
    </div>
    <br>
    <div class="row" *ngIf="idResidenciaSelect">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>N° Incidencia</th>
            <th>Detalle</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (incidencia of this.incidencias; track incidencia.id) {
            <tr>
              <td>{{incidencia.id}}</td>
              <td>{{incidencia.detalle}}</td>
              <td>{{incidencia.fecha}}</td>
              <td>{{incidencia.hora}}</td>
              <td><p-button (click)="view(incidencia.id)">Ver</p-button></td>
              <td><p-button (click)="edit(incidencia.id)">Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No se encuentran incidencias</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Añadir Residencia" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }" [modal]="true" (onHide)="close()">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Detalle</label>
          <input type="text" pInputText formControlName="detalle" [placeholder]="'Ingrese detalle de Incidencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Fecha</label>
          <p-datepicker [showIcon]="true" [showButtonBar]="true" formControlName="fechaInput" [dateFormat]="'dd/mm/yy'" placeholder="dd/mm/aaaa"></p-datepicker>
          <input type="text" pInputText formControlName="fecha" hidden/>
        </div>
        <div class="flex flex-col gap-2">
          <label>Hora</label>
          <p-calendar formControlName="horaInput" [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" hourFormat="12"
            inputId="templatedisplay">
            <ng-template #inputicon let-clickCallBack="clickCallBack">
              <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
            </ng-template>
          </p-calendar>
          <input type="text" pInputText formControlName="hora" hidden/>
        </div>
        <div class="flex flex-col gap-2">
          <label>Departamento</label>

          <p-select formControlName="idDepartamento" [options]="dropdownItemsDep" optionValue="code" optionLabel="name"
            placeholder="Seleccionar Tipo" [autoDisplayFirst]="false" appendTo="body">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>