<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Residencia</h2>
    <div class="row">
      <p-button (click)="open()" class="font-bold w-max">
        Crear nuevo usuario
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th style="width: 70%;">Nombre</th>
            <th>Tipo</th>
            <th colspan="2" style="width: 20%;">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (residencia of this.residencias; track residencia.id) {
            <tr>
              <td>{{residencia.nombre}}</td>
              <td>{{residencia.idTipoResidencia.codigo}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No se encuentran residencias</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Añadir Residencia" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '30vw' }" [modal]="true">
  <form [formGroup]="formulario" (ngSubmit)="this.submitForm()">
    <mat-dialog-content>
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col gap-2">
          <label>Nombre</label>
          <input type="text" pInputText formControlName="nombre" [placeholder]="'Ingrese nombre de Residencia'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Direccion</label>
          <input type="text" pInputText formControlName="direccion" [placeholder]="'Ingrese nombre de Direccion'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Cant. Departamentos</label>
          <input type="text" pInputText formControlName="nDepartamento" [placeholder]="'Ingrese Cantidad de Departamentos'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Cant. Edificio</label>
          <input type="text" pInputText formControlName="nEdificio" [placeholder]="'Ingrese Cantidad de Edificios'" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Tipo Residencia</label>

          <p-select 
            formControlName="idTipoResidencia" 
            [options]="dropdownItems" 
            optionValue="code"  
            optionLabel="name" 
            placeholder="Seleccionar Tipo"
            [autoDisplayFirst]="false">
          </p-select>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close type="button" (click)="close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</p-dialog>