<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Residencia</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nuevo usuario
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>N° Departamentos</th>
            <th>Tipo</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            @for (residencia of this.residencias; track residencia.id) {
            <tr>
              <td>{{residencia.nombre}}</td>
              <td>{{residencia.direccion}}</td>
              <td>{{residencia.nDep}}</td>
              <td>{{residencia.idTipoResidencia.codigo}}</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
            }@empty {
              <tr>
                <td>No se encuentran residencias</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>