<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <h2>Usuario</h2>
    <div class="row">
      <p-button routerLink="pago-form/new" class="font-bold w-max">
        Crear nuevo usuario
      </p-button>|
      <p-button>
        Filtrar
      </p-button>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <table style="width: 100%;">
          <thead>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Residencia</th>
            <th>Rol</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody style="text-align: center;">
            <tr>
              <td>admin</td>
              <td>******</td>
              <td>FrontTower</td>
              <td>Administrador</td>
              <td><p-button>Ver</p-button></td>
              <td><p-button>Modificar</p-button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>